.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; 
    height: 20vh;
    box-sizing: border-box;
}

.logoHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1; 
    gap: 15px; 

    h1 {
        font-size: 30px;
        color: #FFF;
        white-space: nowrap;
    }
}

.navHeader {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        width: 100%;
    }

    .link {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #FFD700;
        }
    }
}


.barraDeBusca {
    flex: 1; 
    max-width: 300px; 
    border: solid #FFF 2px;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0 10px; 
    box-sizing: border-box; 
    margin-right: 1%;

    input {
        background-color: transparent;
        border: none;
        width: 70%;
        height: 5vh;
        color: #FFF;

        &::placeholder {
            color: #FFF;
            font-size: 16px;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #FFF;
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto; 
        padding: 10px; 
    }

    .logoHeader {
        justify-content: center;
        flex: none;
        width: auto;
        margin-bottom: 10px;
    }

    .navHeader {
        flex: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .barraDeBusca {
        flex: none;
        width: 100%;
        max-width: none;
        margin-bottom: 10px;
    }
}
